{% extends 'base.html' %}

    {% block scripts %}
        <link rel="stylesheet" href="{{ url_for('static', filename="profile.css") }}">
    {% endblock %}
    {% block title %}
        Forgot Password 
    {% endblock %}
    {%block form %}
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <fieldset style="border: 0px solid">
                <p style="margin-bottom: 30px; padding: 10px;">If you have not received the email, please check your spam folder or try again.</p>

                <div class="form-group">
                    {{ form.email.label(class="label") }}
                    {{ form.email(class="input", value=current_user.email) }}
                    {% for error in form.email.errors %}
                        <p style="font-size: 14px; color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                
                {{ form.reset(class='submit') }}
            </fieldset>
        </form>

        <div class="flash">
            {% for message in get_flashed_messages() %}
                <button type="submit" class="flash-message" id="message" onclick="disappear()">{{ message }}</button>
            {% endfor %}
        </div>

        <script>
            function disappear() {
                var button = document.getElementById("message");
                var classes = button.classList;
                classes.add("flash-message-disappear");
            }
        </script>
    {%endblock %}