{% extends 'base.html' %}
    {% block scripts %} 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    {% endblock scripts %}
    {% block title %}
        Login
    {% endblock %}

    {% block form %}
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <fieldset>
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-input") }}
                    <a href="/" style="color: blue; float: right; margin-top: 10px; margin-bottom: 10px">Forgot Password?</a>
                </div>
            </fieldset>

            {{ form.submit(class="submit") }}
            
            <div class="form-link-group">
                <a href="{{ url_for('login_email') }}" class="form-link">Login using email</a>
                <a href="{{ url_for('register') }}" class="form-link">New here? Create an account</a>
            <div>
        </form>

        <div class="flash">
            {% for msg in get_flashed_messages() %}
                <button type="button" class="flash-message" id="message" onclick="disappear()">
                    {{ msg }}
                </button>
            {% endfor %}
        </div>

        <script>
            function disappear() {
                var button = document.getElementById("message");
                var classes = button.classList;
                classes.add("flash-message-disappear");
            }
        </script>
    {% endblock %}